.skills-title {
  text-align: center;
  padding-top: 2%;
}

.tech {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  width: 100%;
  flex-wrap: wrap;
}

.icon-main {
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

.tech-label {
  /* padding-left: 27%; */
  padding-right: 2%;
}
.skills-main {
  padding-bottom: 3%;
}