.misc-title {
  text-align: center;
  padding-bottom: 1%;
}

.misc-main {
  padding-top: 4%;
  text-align: left;
}

.facts {
  /* padding-left: 27%; */
  text-align: center;
}

.facts-title {
  padding-left: 25%;
}
