.about-main {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 3%;
}
.about-text {
  text-align: center;
  padding-top: 5%;
}

p {
  font-size: large;
}

img {
  padding-top: 2%;
  padding-bottom: 2%;
}

.picture {
  border-radius: 50%;
  width: 20%;
}
@media (max-width: 800px) {
  .picture {
    width: 50%;
  }
  p {
    font-size: medium;
  }
}

.centered {
  text-align: center;
}

.text {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.bullets {
  font-size: large;
  text-align: left;
  padding-left: 18%;
  padding-right: 15%;
}

.ameren {
  color: #35962B;
}

.msi {
  color: black;
}

.cat {
  color: #d5b60a;
}

.tableau {
  color: #4e79a7;
}

.fb {
  color: #4267B2;
}

.social-icon {
  color: black !important;
  /* padding-left: 2em; */
}
.social-icon:hover {
  color: #C0C0C0 !important;
}

.social-icons a + a {
  padding-left: 1.2em;
}
