.about-main {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 3%;
}
.about-text {
  text-align: center;
  padding-top: 5%;
}

p {
  font-size: large;
}

img {
  padding-top: 2%;
  padding-bottom: 2%;
}

.picture {
  border-radius: 50%;
  width: 25%;
  max-width: 230px;
  object-fit: scale-down;
}

@media (max-width: 1000px) {
  .picture{
    width: 40%;
  }
}

@media (max-width: 800px) {
  .picture {
    width: 50%;
  }
  p {
    font-size: medium;
  }
}


.centered {
  text-align: center;
}

.text {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.bullets {
  font-size: large;
  text-align: left;
  padding-left: 18%;
  padding-right: 15%;
}

.ameren {
  color: #35962B;
}

.msi {
  color: black;
}

.cat {
  color: #d5b60a;
}

.tableau {
  color: #4e79a7;
}

.fb {
  color: #4267B2;
}

.social-icon {
  color: black !important;
}

.social-icon:hover {
  color: #C0C0C0 !important;
}

.social-icons a + a {
  padding-left: 1.2em;
}

.side-by-side {
  display: flex;
  justify-content: center;
  /* margin: 0 auto;
  width: 75%; */
  padding-left: 15%;
  padding-right: 15%;
}

.inner-text-container {
  padding-left: 4%;
}

.inner-text {
  text-align: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 630px) {
  .picture {
    width: 50%;
  }
  .side-by-side {
    display: inline;
    height: 100%;
    padding-left: 0%;
  }
  .inner-text {
    text-align: center;
    top: 0%;
    -webkit-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    transform: translateY(-0%);
  }
  .inner-text-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}