.home-main {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  /* background-image: linear-gradient(to top, rgb(23,42, 69) 0%, #30122d 100%); */
  height: 100%;
  /* width: 100%; */
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 60vw;
  font-family: 'Courier New', Courier, monospace;
}

.social-icons {
  z-index: 501;
}