.exp-flex-container {
  display: flex;
}

.exp-title {
  text-align: center;
}

.exp-main {
  background-color: #f2f2f2;
  padding-top: 5%;
  padding-bottom: 3%;
}

.job-flex {
  display: flex;
  flex-flow: row wrap;
}

.jobs {
  width: 50%;
  margin: 0 auto;
}

/* .job-title {
  padding-left: 1%;
  padding-right: 1%;
} */

.flex-row {
  width: calc(100% / 3);
  flex-wrap: nowrap;
  text-align: left;
  padding-right: 10vh;
}

.dates {
  text-align: right;
}