.exp-flex-container {
  display: flex;
}

.exp-title {
  text-align: center;
  padding-bottom: 2%;
}

.exp-main {
  background-color: #f2f2f2;
  padding-top: 5%;
  padding-bottom: 3%;
}

.job-flex {
  display: flex;
  flex-flow: row wrap;
}

.jobs {
  width: 75%;
  margin: 0 auto;
}

.flex-row {
  width: calc(100% / 3);
  flex-wrap: nowrap;
  text-align: left;
  /* padding-right: 10vh; */
}

.job-title {
  text-align: center;
}
.dates {
  text-align: right;
}