.App {
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  z-index: 1000;
}

@media screen and (max-width: 992px) {
  .navbar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.header-font {
  font-family: 'Courier New', Courier, monospace;
}